body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background:#121212;
    color: #ffffff;
    max-width: 960px;
}

/* TYPOGRAPHY */

h2, h3, h4, p, a {
    margin: 0;
    font-weight: 400;
}

a {
    color:#ffffff;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

/* p {
    font-size: 1.05rem;
} */




/* LAYOUT */

header {
    background-image: url("./assets/movie-background.png");
    object-fit: cover;
    width: 100%;
    padding: 3em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

.movies-container {
    width: 80%;
    margin: 0 auto;
}

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    visibility: unset;
}

.film-icon {
    filter: brightness(0.4);
}

.placeholder h3 {
    filter: brightness(0.4);
    margin-top: 0.2em;
}

.placeholder-subtitle {
    margin-top: 0.5em;
    display: flex;
}

.movie-title, .movie-detail, .watchlist {
    display: flex;
    align-items: center;
}

/*  FORM  */

form {
    display: flex;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);;
    position: relative;
    width: 80%;
    margin: 0 auto 2em;
    transform: translateY(-50%);
}

.search-input {
    background-image: url("./assets/search-icon.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 10% ;
    filter: brightness(0.8);
    width: 100%;
    background-color: #2e2e2f;
    border: none;
    border-radius: 6px 0 0 6px;
    padding:0.5em 7em;
    /* font-size: 2rem; */
    color:#a5a5a5;
}

.search-btn {
    background-color: #4b4b4b;
    color:#ffffff;
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 1em 1em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
    /* font-size: 1.75rem; */
}

.search-btn:active {
    transform: scale(0.95);
    box-shadow: none;
}

/* GRID AREA */

.movie-card {
    display: grid;
    grid-template-areas: 
        "poster ... ...   ..."
        "poster ... title title"
        "poster ... info info"
        "poster ... plot plot"
        "poster ... ... ...";
    grid-template-columns: minmax(15%, 20%) 1.5em auto auto;
    /* grid-template-rows: repeat(); */
    border-bottom: #4b4b4b 2px solid;
    padding-bottom: 1.5em;
    gap: 0.5em 0;
    margin-bottom: 1.5em;
}

.movie-poster {
    grid-area: poster;
    width: 100%;
}
.movie-title {
    grid-area: title;
    gap: 0.5em;
}
.movie-detail {
    grid-area: info;
    gap: 1em;
}

.movie-plot{
    grid-area: plot;
    color: #A5A5A5;
}

/* ICON AND IMG */

.plus-btn {
    margin-right: .4em;
    width: 1em;
}

.minus-btn {
    margin-right: .2em;
    width: 2em;
}

.plus-btn:focus, .plus-btn:active, .minus-btn:active, .minus-btn:focus {
    transform: scale(1.4);
    transition: transform 0.5s;
}

.plus-btn, .minus-btn {
    cursor: pointer;
}

/* UTILITY */

.strong {
    font-weight: 700;
}

.hide {
    visibility: hidden;
}

.error-msg {
    margin-top: 10em;
    filter: brightness(0.4);
}

.loading-list {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulse {
    0% {
        opacity: 0;
        color: #999;
    }

    50% {
        opacity: 0.8;
        color: #333;
    }

    100% {
        opacity: 1;
        color: cornflowerblue;
    }
}

@media(min-width: 801px) {
    body {
        color:pink;
        
    }

    .movies-container {
        display: flex;
        flex-wrap: wrap;
        /* flex: 40%; */
    }

    .movie-card {
        width: 380px;
    }
}