body {
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    background:#121212;
    color: #ffffff;
    max-width: 550px;
}

a {
    color:#ffffff;
    text-decoration: none;
}

header {
    background-image: url("./assets/movie-background.png");
    padding: 3em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    
    /* border: red 2px solid; */
}

h2, h3, h4, p {
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);;
    /* padding: 1em; */
    
    position: relative;

}

.search-icon {
    width: 60px;
    position: absolute;
    left:5%;
    /* transform: translateY(-50%); */
    
}

#search-input {
    background-image: url("./assets/search-icon.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
}

.search-input {
    /* font-size: 1.2em; */
    width: 40%;
    background-color: #2e2e2f;
    border: none;
    border-radius: 6px 0 0 6px;
    padding: 1em 2.5em;
    color:#a5a5a5;
}

.search-btn {
    /* padding: 0.7em; */
    background-color: #4b4b4b;
    color:#ffffff;
    border: none;
    border-radius: 0 6px 6px 0;
    padding: 1em 2.5em;

}

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    filter: brightness(0.2);
    visibility: unset;

}

.placeholder h3 {
    margin-top: 0.4em;
    font-size: 1.5rem;
}

.hide {
    visibility: hidden;
}

.movie-title, .movie-detail, .movie-plot {
    display: flex;
    grid-area: content;
}

.movie-title, .movie-detail {
    /* border: red solid 3px; */
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    gap: 1em;
}

.movie-title img, .movie-detail h4 span img {
    width: 30px
}

/* img {
    width: 20px;
} */

.movies-container {
    display: grid;
    /* grid-template-areas: 
        "poster ... content"; */
    grid-template-columns: 23% auto;
    /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
    border-bottom: green 2px solid;
}

.movies-container > img {
    /* grid-area: poster; */
    width: 100%;
}

.movie-info {
    padding-left: 1em;
    padding: 1em 0 2em 1em; 
}